body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: url(./images/background/background.jpg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: #C2D9FF;
    margin: 0px;
    font-size: larger;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.right{
    display: flex;
    margin-right: 10px;
    gap: 16px;
}

.intro {
    display: flex;
    background-color: rgba(237, 56, 58, 0.91);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;

}

.float {
    display: flex;
    border-color: red;
    margin: 30px 0px;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: x-large;
    margin-top: 20px;
}

.straigt {
    display: flex;
    gap: 50px;
}

.seperate {
    border: solid 1px;
    text-align: justify;
    box-shadow:0px 0px 20px 20px lightpink;
    padding: 15px;
    margin: 0px;
    width: 500px;
    flex-grow: 2;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(237, 56, 58, 0.91);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin: 10px;
}